<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Data Source=zhaoshang.lixia.gov.cn;Initial Catalog=portal;Persist Security Info=True;User ID=zxcayumi;Password=sdnu902.com"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
